{% load balancetags %}

<div class="col-xl-5">
    <div id="bank" class="border" style="padding: 10px; height:352px; text-align: center">
        <h5>Банк</h5>
        <div class="row" style="padding: 20px;">
            <div class="col-md-6 border" style="padding: 5px;">
                <label>Банковский счёт:</label>
            </div>
            <div class="col-md-6 border" style="padding: 5px;">
                <span id="sum_view">{{ bank.balance|formatted_balance }} USD</span>
            </div>
        </div>

        {#        progress#}
        <div class="row" style="padding: 10px;">
            <div class="col-md-6">
                <button id="audit" type="button" class="btn btn-outline-dark" value="true"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .90rem; background-color: #f6a2bf">
                    Провести бухгалтерский аудит
                </button>
            </div>
            <div class="col-md-6">
                <div class="progress" style="margin-top:8%">
                    <div class="progress-bar progress-bar-striped" role="progressbar"
                         aria-label="Warning striped example" style="background-color: #f6a2bf;"
                         aria-valuenow="100" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
        {#        progress end#}
        <div class="row" style="padding: 10px;">
            <div class="col-md-6">
                <input id="sum" type="number" class="form-control" placeholder="сумма">
            </div>
            <div class="col-md-6">
                <div class="text-center" style="margin-top:1%">
                    <button id="replenish" type="button" class="btn btn-outline-dark" value="true"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .90rem; background-color: #cbe8ba">
                        Пополнить
                    </button>
                    <button id="withdraw" type="button" class="btn btn-outline-dark" value="false"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .90rem; background-color: #ffe3ae">
                        Вывести
                    </button>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 20px">
            <div class="col-md-6">
                {% if request.user.is_authenticated %}
                    <form id="declaration_form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <a type="submit" class="btn btn-outline-dark btn-file"
                           style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .90rem; background-color: #d4e3fc">
                            Загрузить декларации
                            {{ file_form.file }}
                        </a>
                    </form>
                {% else %}
                    <a class="btn btn-outline-dark btn-file" onclick="toastr.error('Вы должны войти в свою учетную запись, чтобы загружать декларации.')"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .90rem; background-color: #d4e3fc">
                        Загрузить декларации
                    </a>
                {% endif %}
            </div>
            <div class="col-md-6" style="padding-top: 1%;">
                <p>
                    Сегодня загружено: <span id="declaration_count">{{ declaration_count }}</span> шт.
                </p>
            </div>
        </div>
    </div>
</div>
