<div class="col-xl-7">
    <div class="card">
        <div class="card-header text-center">
            ЧАТ
        </div>
        <div id="chat" class="border" style="overflow-y: scroll; height:250px; padding: 10px">
            {% for message in history_chat reversed %}
                {% ifchanged %}
                    {% if message.created|date:"Y-m-d" == current_data|date:"Y-m-d" %}
                        <p class="text-center">Сегодня</p>
                    {% elif message.created|date:"Y-m-d" == yesterday|date:"Y-m-d" %}
                        <p class="text-center">Вчера</p>
                    {% else %}
                        <p class="text-center">{{ message.created|date:"d E" }}</p>
                    {% endif %}
                {% endifchanged %}
                <p>{{ message.created|date:"H:i" }} {{ message }} - {{ message.message }}</p>
            {% endfor %}
        </div>
        <div class="row text-center" style="padding: 10px">
            <div class="col-md-9">
                <input id="chat-message-input" type="text" class="form-control" placeholder="Текст сообщения">
            </div>
            <div class="col-md-3" style="margin-top: 5px">
                <button id="chat-message-submit" class="btn"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .80rem; background-color: #ffa382">
                    Отправить
                </button>
            </div>
        </div>
    </div>
</div>


